<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>
  </configSections>
  <modules>
    <!-- 
    <module assemblyFile="modules/PrismTestModuleA/PrismTestModuleA.dll" moduleType="PrismTestModuleA.ModuleA, PrismTestModuleA, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ModuleA" startupLoaded="true">
      <dependencies>
        <dependency moduleName="ModuleB"/>
      </dependencies>
    </module> 
    -->
    <module assemblyFile="modules/LoginModule/CsWebChat.WpfClient.LoginModule.dll" moduleType="CsWebChat.WpfClient.LoginModule.LoginModule, CsWebChat.WpfClient.LoginModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="LoginModule" startupLoaded="true" />
    <module assemblyFile="modules/ChatModule/CsWebChat.WpfClient.ChatModule.dll" moduleType="CsWebChat.WpfClient.ChatModule.ChatModule, CsWebChat.WpfClient.ChatModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="LoginModule" startupLoaded="true" />
  </modules>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>